---
layout: base-layout.liquid
title: CTZN.network - A decentralized social protocol
---

<div class="mb-32 mt-12 sm:mt-24 mx-auto px-2 text-center" style="max-width: 640px;">
  <h1 class="font-semibold mb-3 text-4xl sm:text-6xl">
    CTZN.network
  </h1>
  <p class="text-xl mb-4">
    A decentralized social networking protocol.
    ⚠️ Alpha Software ⚠️
  </p>

  <a
    href="/schemas"
    class="block sm:inline-block font-mono text-blue-600 px-4 py-4 rounded bg-gray-50 mb-2 hover:underline"
  >Schemas</a>
  <a
    href="/dev-vlog"
    class="block sm:inline-block font-mono text-blue-600 px-4 py-4 rounded bg-gray-50 mb-2 hover:underline"
  >Video Devlog</a>
  <a
    href="https://github.com/pfrazee/ctzn"
    class="block sm:inline-block font-mono text-blue-600 px-4 py-4 rounded bg-gray-50 mb-2 hover:underline"
  >Main Repo</a>
  <a
    href="https://ctznry.com"
    class="block sm:inline-block font-mono text-blue-600 px-4 py-4 rounded bg-gray-50 mb-2 hover:underline"
  >Alpha Build</a>
</div>