<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <title>{{ renderData.title or title }}</title>
  </head>
  <body>
    <header class="px-4 py-2 mb-8 bg-gray-100 sm:bg-transparent">
      <a class="font-bold hover:underline text-lg sm:text-2xl mr-4" href="/">CTZN.network</a>
      <a class="mr-4 hover:underline" href="/schemas">Schemas</a>
      <a class="hover:underline" href="/dev-vlog">Video Devlog</a>
    </header>
    {{ content }}
  </body>
</html>